:root {
    --primary: #00afc7;
    --secondary: #8dcb60;
    --accent: #ebe480;
  
    --primaryHover: #028090;
    /* --whiteHover: #dfdddd; */
    
    /* --background: #f5f5f5; */
    /* --text: #484848; */
    
    --gray: #adb5bd;
    --black: #0b090a;
    --white: #fdfffc;
}