footer {
    grid-area: 3 / 1 / 4 / 2;

    background-color: var(--primary);
    color: var(--accent);
    border-radius: 10px 10px 0 0;

    padding: 3rem;

    display: flex;
    align-items: center;
}

.footer__header {
    font-size: 3rem;
    font-weight: bold;
}

.footer__section {
    width: 33%;
    display: flex;
    justify-content: center;
}

footer a:hover {
    color: var(--accent);
    text-decoration: underline;
}

a:hover {
    color: var(--primary);
}


