@media (max-width: 425px) {

    main {
        grid-template-columns: 0fr 6fr;
    }
    
    h1 {
        font-size: 4rem;
    }

    .card__container {
        grid-template-columns: repeat(1, 1fr);
    }

    img {
        width: 10%;
    }

    .footer__header{
        font-size: 1.5rem;
    }

    .footer__section li{
        font-size: 1rem;
    }

    footer img {
        width: 30%;
    }

}