@media (max-width: 425px) {

    main {
        grid-template-columns: 0fr 6fr;
    }
    
    h1 {
        font-size: 4rem;
    }

    .card__container {
        grid-template-columns: repeat(2, 1fr);
    }

    .text-title {
        font-size: 1.5rem;
    }

    .text-body {
        font-size: 1rem;
    }

    .card-button {
        font-size: 1rem;
    }

    img {
        width: 10%;
    }

    .footer__header{
        font-size: 1.5rem;
    }

    .footer__section li{
        font-size: 1rem;
    }

    footer img {
        width: 30%;
    }

    .character__header{
        justify-content: space-around;
    }

    .character__header img {
        width: 40%;
    }

}